.TasksShow
  %table
    %tr
      %th Title
      %td= @task.title
    %tr
      %th Description
      %td= @task.description
    %tr
      %th Username
      %td= @task.user.name
  %p= link_to '一覧に戻る', tasks_url
