.Notification
  .Notification__header
    %p.Notification__header--title 通知一覧
  .Notification__main
    - if @notifications.exists?
      = render @notifications
    - else
      %p 通知はありません
= render "layouts/rightbar"