.wrapper
  = render "posts/side_bar"
  .contents.row
    %p
      = @name
      さんの投稿一覧
    - @posts.each do |post|
      %p= post.content
      - if post.image?
        = image_tag post.image.url, height: '200'
