.UserShow
  .Profile
    .Profile__image
    .Profile__name
      %p.userName="#{@name}さんの投稿一覧"
  .Posts
    - @posts.each do |post|
      .Posts__contents
        %p.Posts__contents--text= post.content
        - if post.image?
          = image_tag post.image.url, height: '200', class: 'Posts__contents--image'
  -# .Likes
  -#   - @user.like_posts.each do |post|
  -#     = post.user.name
  -#     = post.content
  -#     - if post.image?
  -#       = image_tag post.image.url, height: '200'