.About

  %p SNSによる交流 X チャットによる指導 X タスク管理による効率的な学習

  %p 現在、世の中には素晴らしい教材がたくさんあります。
  %p しかし、
  %p プログラミングの学習で難しいのは、
  %p 継続とモチベーション維持だと思います。

  %p 自分の作ったアプリやコードが正しいのか。
  %p 他の方に見てもらいたいことはありませんか？
  
  %h1 このアプリケーションでは、
  %h1 交流・指導・学習の3つの軸であなたのプログラミング学習を支えます。