.about
  %p プログラミングの学習で一番難しいのはモチベーションの維持だと思います。
  %p そこで、自分と同じか少し上の人たちと交流できたら素晴らしいと思いませんか？

  %p 更に、自分の作ったアプリやコードが正しいのか。有識者の方に見てもらいたいことはありませんか？
  %p ここでは、そんな依頼を出したり受けたりも出来ます。

  %p SNSによるモチベーション維持とDMチャットによる指導を両立したwebアプリです。

  %p もちろん、教える側には説明することで自分の知識の整理がつくという面もあるとはいえ、利益が薄いですよね。

  %p そこで、このアプリケーションでは投げ銭制度を導入します。
  %p 今までの指導の回数や受けた方からの評価などを元に、上限金額を設定していく予定です。
