.Help
  .Help__title 搭載機能一覧
  .Help__user 
    %h1 ・ユーザー管理機能
    %p Deviseを用いたユーザー登録・編集機能
    %p 登録時には、名前、メールアドレス、アイコン画像が必須となります
    %p 登録後、マイページからプロフィール文を設定出来ます
  .Help__post
    %h1・投稿機能
    %p テキストと画像の投稿・編集・削除機能
    %p 編集は一覧のリンクからも可能、削除は投稿詳細からのみ可能です
  .Help__search
    %h1 ・検索機能
    %p 投稿一覧からインクリメンタルサーチによる投稿検索が出来ます
    %p ユーザー一覧からプロフィールをインクリメンタルサーチ出来ます
  .Help__tag
    %h1 ・タグ機能
    %p 投稿一覧のタグをクリックすることで、同じタグの投稿のみを表示出来ます
    %p 投稿時にテキストの下の欄にタグをカンマ(,)区切りで追加出来ます
    %p 例：Ruby,Rails,JavaScript
  .Help__comment 
    %h1・コメント機能
    %p 投稿詳細からコメントが可能です
    %p エラーや実装の相談などを皆さんで解決しましょう！
  .Help__favorite 
    %h1・お気に入り機能
    %p 投稿一覧、詳細のどちらからでもお気に入りの登録・削除が可能です
    %p 自分のマイページからお気に入りした投稿を一覧で見ることが出来ます
  .Help__follow 
    %h1・フォロー機能
    %p ユーザーページから相手のユーザーをフォローする事が出来ます
    %p お互いにフォローし合っているユーザー同士のみDM機能が使えます
  .Help__message
    %h1 ・メッセージ機能
    %p 相互フォローのユーザー同士のみ利用可能です
    %p プライベートなスペースで二人だけのチャットが出来ます
    %p ここでGitHubやZoomなどのURLを共有してコードレビューなどを行いましょう！
  .Help__task
    %h1 ・タスク管理機能
    %p シンプルなタスク管理機能です
    %p Detailを押すことで詳細な説明も表示できます
    %p タスクや目標を常に目に入る場所に書くことでモチベーションを向上させましょう！
  .Help__timer
    %h1 ・タイマー
    %p 時間を区切って高い集中力を保つことで、効率的に学習出来ます！
    %p セットしたらスタートを押すだけ、時間になるとアラートが出ます