.PostShow {
  @include timeline_size;
  padding: 1px 5px;
  margin: 2px 0;
  .PostBox {
    outline: 2px solid black;
    &__info{
      display: flex;
      justify-content: space-between;
      &--icon{
        margin-left: 2px;
        margin-top: 2px;
      }
      &--name{
        margin-top: 15px;
      }
      &--follow{
        margin-top: 15px;
        margin-right: 2px;
      }
    }
    &__contents {
      padding: 5px;
      border-bottom: 1px solid lightgray;
      border-top: 1px solid lightgray;
      &--text{
        p {
          white-space: pre-wrap;
        }
      }
      &--image{
        text-align: center;
        img {
          max-width: 480px;
        }
      }
    }
    &__actionBar {
      display: flex;
      justify-content: space-around;
    }
  }
}

.RightBar {
  width: 400px;
  padding: 1px 5px;
  margin: 1px 0;
  .CommentContents {
    background-color: lightgray;
    outline: 1px solid black;
    &__header {
      height: 56px;
      line-height: 56px;
      background-color: gray;
      margin-bottom: 5px;
      border-bottom: 1px solid black;
    }
    &__form {
      margin-left: 5px;
      &--text{
        width: 98%;
        height: 80px;
      }
      &--submit{
      }
    }
    &__index{
      margin-left: 5px;
      height: calc(100vh - 204px);
      overflow: scroll;
      &--header{
        h4 {
          margin: 8px;
          font-size: 18px;
        }
      }
      &__box {
        display: flex;
      }
    }
  }
}
