* {
  box-sizing: border-box;
}

@mixin timeline_size {
  width: calc(100vw - 200px - 400px);
  min-width: 500px;
}

@mixin  timeline_format {
  padding: 1px 5px;
  @include timeline_size;
  overflow-wrap: break-word;
  &__header {
    outline: 1px solid black;
    background-color: darkgray;
    height: 50px;
    line-height: 50px;
    color: white;
    position: relative;
    &--name {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      left: 25px;
      text-shadow: 0 0 5px rgba(0,0,0,1);
    }
    &--icon {
      text-shadow: 0 0 5px rgba(0,0,0,1);
      position: absolute;
      top: 18px;
      left: 5px;
    }
  }
  &__main {
    height: calc(100vh - 90px);
    overflow: scroll;
    .ContentBox{
      margin-top: 5px;
      border: 2px solid black;
      &__info{
        display: flex;
        justify-content: space-between;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        &--date{
          font-size: 12px;
        }
        &--name {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__contents{
        margin-bottom: 5px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        &--text {
          padding: 5px;
          min-height: 50px;
          width: 100%;
          p{
            white-space: pre-wrap;
          }
        }
        &--image {
          text-align: center;
        }
        img {
          height: 200px;
          max-width: 480px;
        }
      }
      &__actionBar{
        display: flex;
        justify-content: space-around;
        &--detail {
          &--icon {
            color: black;
          }
        }
      }
    }
  }
}
.Timeline {
  @include timeline_format;
  height: 100vh;
}

.search-form {
  padding: 5px 0;
  .search-input {
    width: 100%;
    background-color: #f0f0f0;
  }
}

.FavoriteIcon {
  color: gray;
}
.unFavoriteIcon {
  color: #edc600;
}
