.SideBar {
  width: 200px;
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__icon {
    margin: 10px 0 5px 0;
  }
  &__info {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 2px;
    margin: 0 8px 8px 8px;
  }
  &__name {
    font-size: 24px;
    margin-left: 4px;
    color: black;
  }
  &__list {
    font-size: 20px;
    color: #222222;
    margin-bottom: 8px;
    &--notice{
      color: lightcoral;
      font-weight: bold;
    }
  }
  &__back:hover {
    background: rgba(55,55,55, 0.7);
    padding: 0 8px;
    border-radius: 10px;
    font-weight: bold;
    .SideBar__list{
      color: white;
      text-shadow: 0 0 3px rgba(0,0,0,0.7);
    }
  }
}
