.TaskIndex{
  width: 400px;
  height: 50vh;
  padding: 1px 5px;
  &__header {
    display: flex;
    outline: 1px solid black;
    background-color: #55c500;
    height: 50px;
    line-height: 50px;
    color: white;
    #ToDoTitle {
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
    a {
      color: black;
      font-size: 18px;
      margin-left: 30px;
    }
  }
}

.TaskTitle {
  font-size: 20px;
  cursor: pointer;
}

.TaskContent {
  margin: 1px 0;
  outline: 1px solid black;
  background-color: lightgray;
  height: calc(50vh - 54px);
  overflow: scroll;
}

.TaskShow {
  a {
    color: black;
  }
  &__detail {
    display: inline;
    cursor: pointer;
  }
  &__description {
    display: none;
    white-space: pre-wrap;
  }
}

.line-through {
  text-decoration: line-through;
}

.TaskMotivate {
  background-color: darkgray;
  height: calc(100vh - 160px);
  width: calc(100vw - 100px);
}