.TaskIndex{
  width: 300px;
  height: 50vh;
  background-color: lightgray;
  overflow: scroll;
}

.TaskTitle {
  font-size: 20px;
  cursor: pointer;
}

.TaskDescription {
  display: none;
  white-space: pre-wrap;
}

.TaskShow {
  &__detail {
    color: gray;
    display: inline;
    cursor: pointer;
  }
}

#ToDoTitle {
  font-size: 35px;
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}

.TaskMotivate {
  background-color: darkgray;
  height: calc(100vh - 160px);
  width: calc(100vw - 100px);
}