.TaskIndex{
  width: 300px;
}

.TaskTitle {
  font-size: 20px;
  cursor: pointer;
}

.TaskDescription {
  display: none;
  cursor: pointer;
}

.TaskShow {
  &__detail {
    color: gray;
    display: inline;
    cursor: pointer;
  }
}

#ToDoTitle {
  font-size: 35px;
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}