.UserShow {
  margin: 0 5px;
  height: 100vh;
  
  .Profile {
    width: calc(100vw - 100px - 10px);
    background-color: lightgreen;
    display: flex;
  }
  &__contents {
    &__header{
      display: flex;
      justify-content: space-evenly;
      border: 1px solid black;
      margin-bottom: 5px;
    }
    &__timeline {
      overflow: scroll;
      width: calc(100vw - 100px - 10px);
      height: calc(100vh - 136px);
      &__box{
        border: 1px solid black;
        margin-bottom: 5px;
        &--text {
          white-space: pre-wrap;
        }
      }
    }
  }
}

.Usertabs{
  display: none;
}

.show {
  display: block;
}

.active {
  color: darkgray;
}