.UserShow {
  padding: 1px 3px;
  @include timeline_size;
  &__header{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 2px 0;
    color: gray;
  }
}

.Profile {
  background-color: #BBBBBB;
  outline: 1px solid black;
  height: 200px;
  padding: 5px;
  position: relative;
  .ProfileBox {
    display: flex;
    &__icon {
      margin-top: 30px;
    }
    &__info{
      padding: 0 5px;
      &__nameBox {
        display: flex;
        &--name {
          margin-right: 100px;
          font-size: 20px;
          font-weight: bold;
        }
      }
      &--text {
        p {
          white-space: pre-wrap;
        }
      }
    }
  }
  &__actionBar {
    display: flex;
    position: absolute;
    bottom: 3px;
    &--follow {
      margin-left: 100px;
    }
  }
}

.UserTimeline {
  height: calc(100vh - 230px);
  overflow: scroll;
}

.UserIndex {
  padding: 1px 3px;
  @include timeline_size;
  &__header {
    outline: 1px solid black;
    background-color: darkgray;
    height: 50px;
    line-height: 50px;
    color: white;
    p {
      font-size: 18px;
      margin-left: 10px;
      font-weight: bold;
    }
  }
  &__search {
    .UserSearchForm {
      padding: 5px 0;
      .UserSearchInput {
        width: 100%;
        background-color: #f0f0f0;
      }
    }
  }
  &__main {
    height: calc(100vh - 90px);
    overflow: scroll;
    padding: 0 1px 1px 1px;
    .UserIndexBox {
      outline: 1px solid black;
      margin-top: 3px;
      &__info {
        display: flex;
        line-height: 50px;
        &__name {
          padding-left: 5px;
        }
      }
      p {
        white-space: pre-wrap;
      }
    }
  }
}


// js用
.userShowTabs {
  cursor: pointer;
}
.Usertabs {
  display: none;
}
.show {
  display: block;
}
.active {
  color: black;
}