.SideBar
  - if user_signed_in?
    画像置く
    = link_to 'Profile', '#', class:".SideBar__list"
    = link_to 'Post', new_post_path, class:".SideBar__new"
  - else 
    ログイン
    新規登録
  = link_to 'Home', root_path, class:".SideBar__list"
  = link_to 'About', '#', class:".SideBar__list"