.Timer
  .Timer__header
    #TimerTitle タイマー
  .Timer__contents
    %form{name: "timer"}
      .Timer__contents__form
        .Timer__contents__form--minutes
          %input{type: "text", value: "", class: "Timer__contents__form--time"}
          %span 分
        .Timer__contents__form--seconds
          %input{type: "text", value: "", class: "Timer__contents__form--time"}
          %span 秒
      .Timer__contents__button
        %input{onclick: "cntStart()", type: "button", value: "スタート", }
        %input{onclick: "cntStop()", type: "button", value: "ストップ"}
