.Timeline
  .Timeline__header
    = icon('fas', 'home', class: 'Timeline__header--icon')
    %p.Timeline__header--name ホーム
  .Timeline__main
    - @posts.each do |post|
      = render "post_content", {post: post}