.wrapper
  = render "timeline"
  -# - @post.tag_list.each do |tag|
  -#   %span= tag
  -# = render "tag_list", tag_list: ＠posts.tag_list
  -# = render "tag_timeline"
  -# = render "like_timeline"
  -# = render partial: 'posts/timeline', collection: @posts, as: :post

