@import "reset";
@import "modules/sidebar";
@import "modules/posts";
@import "modules/users";
@import "modules/tasks";
@import "modules/post_forms";
@import "modules/post_shows";
@import "modules/user_forms";
@import "modules/follow";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper{
  display: flex;
}

a{
  text-decoration: none;
}

.Notification{
  height: 50vh;
}